@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@plugin 'tailwindcss-animate';

@theme {
  --spacing-page: 1436px;
  --color-brand: hsl(26, 73%, 51%);
  --color-brand-foreground: white;
  --color-brand-secondary: #c6bb58;
  --color-brand-secondary-foreground: #97890c;
  --color-brand-200: hsl(33, 100%, 50%);

  --color-landing-foreground: #59592a;
  --color-landing-foreground-200: #a8a866;
}

.dark {
  --color-landing-foreground: #e4e2d0;
  --color-landing-foreground-200: #b7af7e;

  --color-brand: #fff383;
  --color-brand-secondary: #fc7744;
  --color-brand-secondary-foreground: #521700;
  --color-brand-foreground: black;
  --color-brand-200: #fff7c8;
}

@theme inline {
  --default-mono-font-family: var(--font-mono);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  @keyframes stroke {
    from {
      stroke-dasharray: 1000;
    }
    to {
      stroke-dasharray: 1000;
      stroke-dashoffset: 2000;
    }
  }

  --animate-stroke: stroke 5s linear infinite;

  --color-gradient-radial: radial-gradient(circle, var(--tw-gradient-stops));
  --color-repeat-gradient-to-r: repeating-linear-gradient(
    to right,
    var(--tw-gradient-stops)
  );
  --color-repeat-gradient-to-br: repeating-linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
  );
}

.sdk {
  --color-fd-primary: var(--sdk-color);
}

.cli {
  --color-fd-primary: var(--cli-color);
}

.api-reference {
    --color-fd-primary: var(--api-reference-color);
}

:root {
  --cli-color: hsl(250, 80%, 54%);
  --sdk-color: hsl(41, 100%, 40%);
  --api-color: hsl(26, 73%, 51%);
}

html {
  scrollbar-gutter: stable;
}

html:has(body[data-scroll-locked]) {
  scrollbar-gutter: auto;
}

body {
  background-color: var(--color-fd-background);
  font-family: var(--font-sans);
}

.dark {
  --cli-color: hsl(250 100% 80%);
  --sdk-color: #fff383;
  --api-reference-color: hsl(26, 73%, 51%);
}

@keyframes circuit_1 {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(100px);
  }
}

@keyframes circuit_1_x_energy {
  0%,
  46% {
    opacity: 0;
    transform: translateX(-20px);
  }
  47%,
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    transform: translateX(212px);
  }
}